<section class="p-content">

  <div class="p-content__inner c-contnetFrame">

    <h3 class="p-content__ttl">
      <img class="p-content__ttlIcon" src="<%= path %>fukidashi.jpg" alt="吹き出し">
      オーナーズレビュー
    </h3>

    <ul class="p-content__list">

        <% const review = [
          {text:"PIRKKA TABLE /  Artek", new: "new"},
          {text:"STOOL 60 / Artek"},
          {text:"マッシュルームスツール S-7292 / 天童"},
          {text:"ムライスツール S-5026TK-ST / 天童木"},
          {text:"Bench ３人掛け / NOYES"},
          {text:"Volster Sofa ３人掛け / NOYES"},
          {text:"K22 SIDE TABLE / TECTA"},
          {text:"MADE ROUND CHAIR NA / MOMO na"},
          {text:"Order table DT601 / NAGANO INTERI"},
          {text:"アームチェア（板座） / maruni"},
        ]; %>

      <% for (var i = 0; i < 10; i++) { %>

      <li class="p-content__item">
        <a href="#" class="p-content__link">

            <p class="p-content__txt">

              <%= review[i].text %>

            <% if (review[i].new == "new" ) { %>

              <span class="p-content__new">NEW</span>

            <% }; %>

            </p>

          <img src="<%= path %>serch_arrow.png" alt="矢印" class="c-arrow">

        </a>
      </li>

      <% } %>

    </ul>

    <a class="p-content__listLink" href="#">
      <img src="<%= path %>arrow.png" alt="矢印" class="c-arrow__only">
      家具口コミ一覧を見る
    </a>
    <!-- /.p-content__listLink -->

  </div>
  <!-- /.p-content__inner -->
  <div class="p-content__inner c-contnetFrame">

    <h3 class="p-content__ttl">
      <img class="p-content__ttlTopics" src="<%= path %>kagu_interior.png" alt="マイク">
      家具インテリア<br class="u-br__u-sp">topics
    </h3>

    <ul class="p-content__list">
        <% const topics = [
          {img:"k_3.jpg", text:"grafの世界観に触れる!", alt: "マーク", new: "new"},
          {img:"k_4.jpg", text:"400台限定!特別仕様の「PK22」", alt: "時計", new: "new"},
          {img:"k_3.jpg", text:"ありそうでなかった!アートな佇まいのミラー", alt: "マーク"},
          {img:"k_4.jpg", text:"家具・インテリアショップのクーポンまとめ", alt: "時計"},
          {img:"k_5.jpg", text:"石巻にて「本棚作りワークショップ」開催", alt: "部屋"},
          {img:"k_6.jpg", text:"柳宗理、「コノハ柄」ファブリック復刻販売!", alt: "ニッポンのいいもの"},
          {img:"k_7.jpg", text:"キタニの「Ever Green 不朽の名作たち」展", alt: "イラスト"},
          {img:"k_8.jpg", text:"「そうだ、ロイズの倉庫へ行こう!!」開催", alt: "クーポン"},
          {img:"k_4.jpg", text:"名作チェアでコンサート", alt: "時計"},
          {img:"k_5.jpg", text:"情報求む!カンディハウス幻の椅子", alt: "部屋"}
        ]; %>

      <% for (var i = 0; i < 10; i++) { %>

      <li class="p-content__item">
        <a href="#" class="p-content__link">

          <img src="<%= path %><%= topics[i].img %>" alt="<%= topics[i].alt %>" class="p-content__img">

          <div class="p-content__mid">
            <p class="p-content__txt">

              <%= topics[i].text %>

            <% if (topics[i].new == "new" ) { %>
              <span class="p-content__new">NEW</span>
            <% }; %>

            </p>
          </div>
          <!-- /.p-content__mid -->

          <img src="<%= path %>serch_arrow.png" alt="矢印" class="c-arrow">

        </a>
      </li>

      <% } %>

    </ul>

    <a class="p-content__listLink" href="#">
      <img src="<%= path %>arrow.png" alt="矢印" class="c-arrow__only">
      家具topics一覧を見る
    </a>

  </div>
  <!-- /.p-content__inner -->

</section>

<section class="p-login">

  <div class="p-login__inner c-contnetFrame">

    <div class="p-loginRecruit">

      <img src="<%= path %>recruit.png" alt="リクルート" class="p-loginRecruit__icon">

      <div class="p-loginRecruit__links">
        <a href="#" class="p-loginRecruit__link">
          <p class="p-loginRecruit__id">リクルートIDでログイン<br><span>（旧じゃらん×ホットペッパーID）</span></p>
          <img src="<%= path %>serch_arrow.png" alt="矢印" class="c-arrow">
        </a>
        <a href="#" class="p-loginRecruit__link">
          <img src="<%= path %>arrow.png" alt="矢印" class="c-arrow__only">
          <p class="p-loginRecruit__new">リクルートID 新規会員登録する</p>
        </a>
      </div>
      <!-- /.p-loginRecruit__links -->

    </div>
    <!-- /.p-login__recruit -->

    <ul class="p-loginSns">
      <% const sns = [
        {src: 'facebook.png', text: 'facebook', alt: 'facebook'},
        {src: 'twitter.png', text: 'twitter', alt: 'twitter'},
        {src: 'google.png', text: 'google', alt: 'google'}
      ]; %>

      <% for (var i = 0; i < sns.length; i++ ) {%>

      <li class="p-loginSns__item">
        <a href="#" class="p-loginSns__link">
          <img src="<%= path %><%= sns[i].src %>" alt="<%= sns[i].alt %>" class="p-loginSns__icon">
          <h3 class="p-loginSns__linkTxt"><%= sns[i].text %>でログイン</h3>
          <img src="<%= path %>serch_arrow.png" alt="矢印" class="c-arrow">
        </a>
      </li>

      <% } %>
    </ul>
  </div>
  <!-- /.p-login__inner -->

</section>

<section class="p-facebook">
  <div class="p-facebook__inner c-contnetFrame">
    <div class="p-facebook__head">
      <img src="<%= path %>logo.png" alt="メインロゴ" class="p-facebook__headLogo">
      <div class="p-facebook__headLinks">
        <a href="#" class="p-facebook__headLink">tabroom(タブルーム)</a>
        <img src="<%= path %>facebook_iine.png" alt="facebook_good" class="p-facebook__good">
      </div>
    </div>
    <!-- /.p-facebook__head -->
    <div class="p-facebook__mid">
      <p class="p-facebookM__midTxt">89,843人がtabroom(タブルーム)について「いいね！」と言っています。</p>
      <ul class="p-facebook__midList">

        <% for (var i = 0; i < 8; i++) {%>
        <li class="p-facebook__midItem">
          <a href="#" class="p-facebook__midLink">
            <img src="<%= path %>k_7.jpg" alt="イラスト" class="p-facebook__midImg">
          </a>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- /.p-facebook__mid -->

    <a class="p-facebook__plugin">
      <img src="<%= path %>facebook.png" alt="facebook" class="p-facebook__pluginIcon">
      facebookソーシャルプラグイン
    </a>
  </div>
  <!-- /.p-facebook__inner -->
</section>

<section class="p-ranking">
  <div class="p-ranking__inner">
    <a href="#" class="p-ranking__link">
      <img src="<%= path %>bnr_weekly_ranking.png" alt="ランキング" class="p-ranking__img">
      <img src="<%= path %>serch_arrow.png" alt="矢印" class="c-arrow">
    </a>
  </div>
  <!-- /.p-ranking__inner -->


  <div class="c-sectionFooter" style="background-image: url('<%= path %>dodded.png');"></div>

</section>

